

<script>
  $(function(){
    var str = '#len'; //increment by 1 up to 1-nelemnts
    $(document).ready(function(){
      var i, stop;
      i = 1;
      stop = 4; //num elements
      setInterval(function(){
        if (i > stop){
          return;
        }
        $('#len'+(i++)).toggleClass('bounce');
      }, 500)
    });
  });
</script>
<div id="nav" class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a id="len1" class="hoverable" routerLink="">Cinemas</a></li>
        <li><a id="len4" class="hoverable" routerLink="/login">Admin</a></li>
      </ul>
    </div>
  </nav>
</div>



<router-outlet>

</router-outlet>
